body {
    background-color: #CCD8D9;
    font-family: "Varela", sans-serif;
    color: #003438;
    font-size: 1em;
    line-height: 2em;
}

h1 {
    color: #2D6A4E;
    font-size: 40px;
    line-height: 1em;
}

h2 {
    color: #2D6A4E;
}

a:hover {
    color: #A24B4B;
}

.inline-list {
    list-style-type: none;
    padding: 10px;
    margin: 20px;
}

.inline-list li {
    display: inline-block;
    margin: 10px;
}

.fa-brands {
    font-size: 50px;
    color:  black;
}

.fa-brands:hover {
    color: #A24B4B;
}

.container {
    width: 600px;
    margin: 40px auto;
}

@media (max-width: 600px) {
    .container {
      width: 60%;
      margin: 40px auto;
    }
}

.card {
    background-color: white;
    padding: 40px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    margin: 20px 0px;
    text-align: center;
}

.button {
    background-color: #AAE1DD;
    color: black;
    padding: 15px 20px;
    border-radius: 4px;
    text-decoration: none;
}

#profile-picture {
    border-radius: 50%;
    height: 150px;
}
